.App {
  max-width: 500px;
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 13px;
}

/* style company setting */
.boxs {
  border-radius: 4px;
  border: 1px solid #e3e8ee;
  padding: 20px 25px;
}

.logo img {
  max-width: 100%;
  max-height: 60px;
}

.align-center {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn-uplogo {
  border-radius: 4px;
  border: 1px solid #e3e8ee;
  display: inline-block;
  padding: 3px 8px;
  cursor: pointer;
  font-weight: 500;
  color: #555b64;
}

.field-input {
  border-radius: 4px;
  border: 1px solid #c1c9d4;
  width: calc(100% - 25px);
  height: 32px;
  padding: 0 5px 0 10px;
  color: #232426;
  background-color: #ffffff;
}

.txt {
  display: block;
  line-height: 20px;
  font-weight: 500;
  color: #555b64;
  margin-bottom: 3px;
}

.mt-30 {
  margin-top: 30px;
}

.justify-space-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.col {
  width: 48%;
  max-width: 48%;
}

.menu-container {
  position: relative;
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  top: calc(100% + 4px);
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 6px 8px -6px rgb(0 0 0 / 12%), 0 5px 12px 0 rgb(0 0 0 / 3%), 0 4px 10px 0 rgb(0 0 0 / 3%), 0 3px 8px 0 rgb(0 0 0 / 4%), 0 2px 6px 0 rgb(0 0 0 / 4%), 0 0 1px 0 rgb(0 0 0 / 8%);
  z-index: 1;
  display: none;
}

.dropdown-menu.active {
  display: block;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu ul {
  list-style: none;
  padding: 3px 2px;
  margin: 0;
}

.dropdown-menu li {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 6px;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  color: #4d5054;
}

.btn-default {
  border-radius: 4px;
  border: 1px solid #c1c9d4;
  width: calc(100% - 25px);
  height: 32px;
  padding: 0 5px 0 10px;
  color: #232426;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn-default:hover {
  border: 1px solid #8c929a !important;
}

.btn-default.selection {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.btn-default.selection .svg-selectbox {
  margin-left: 5px;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
}

.line {
  border-top: solid 1px #eef2f8;
  margin: 30px 0px 20px;
}

.col-st {
  width: 65px;
}

.col-zip {
  width: 134px;
}

.hours-opera {
  display: flex;
  align-items: center;
}
.wrapper-choosetime {
  width: auto;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
.from-time {
  display: flex;
  align-items: center;
  height: 100%;
}
.from-time + from-time {
  border-left: solid 1px #c1c9d4;
}
.dropup {
  position: relative;
}
.dropup .dropdown-menu {
  display: none;
  width: 100%;
  max-height: 300px;
  height: auto;
  position: absolute;
  top: calc(100% + 4px);
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 6px 8px -6px rgb(0 0 0 / 12%), 0 5px 12px 0 rgb(0 0 0 / 3%), 0 4px 10px 0 rgb(0 0 0 / 3%), 0 3px 8px 0 rgb(0 0 0 / 4%), 0 2px 6px 0 rgb(0 0 0 / 4%), 0 0 1px 0 rgb(0 0 0 / 8%);
  z-index: 1;
}

.dropup .dropdown-menu .scrolls {
  max-height: 20vh;
  height:100%;
  overflow-y: auto;
}
/* end style company setting */


/* style user setting */
.gorilladesk .contents-pages {
  width: calc(100% - 240px);
}

.settings-v2 .set-user-left {
  width: 320px;
    min-width: 320px;
    height: 100%;
}

.container-column {
  display: flex;
    flex-flow: column;
    flex-direction: column;
}

.title-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.flex-auto {
  flex: 0 0 auto;
}

.fs-18 {
  font-weight: 600;
  line-height: 24px;
  color: #313438;
  font-size: 18px;
}

.cancel {
  display: inline-block;
  color: #555b64;
  font-weight: 500;
  cursor: pointer;
  padding: 0 10px;
}

.btn-main {
  border: solid 1px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  height: 32px;
  background-color: #8d4afc;
  max-width: 100%;
  max-height: 100%;
  color: #ffffff;
  padding: 6px 14px;
  display: inline-flex;
  align-items: center;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user {
  width: 100%;
  height: 100%;
  border-right: 1px solid #e3e8ee;
  border-left: 1px solid #e3e8ee;
  position: relative;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user .item-delete {
  display: inline-flex;
  position: relative;
  align-items: center;
  border: solid 1px #e3e8ee;
  border-radius: 3px;
  padding: 3px 8px;
  margin-right: 8px;
  cursor: pointer;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user .item-delete span {
  color: #555b64;
  line-height: 1.43;
}
.container-column .box-auto {
  flex: 1 1 auto;
  overflow-y: auto;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li {
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 24px;
  border-bottom: 1px solid #e3e8ee;
  border-right: 2px solid transparent;
  justify-content: space-between;
  cursor: pointer;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .items-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .items-content .check-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.check-items input[type=checkbox] {
  height: 0px;
  width: 0px;
  visibility: hidden;
}
input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.check-items {
  line-height: 0;
}
.ml-2 {
  margin-left: 10px;
}
.check-items .item-checkbox {
  height: 16px;
}
.check-items label {
  width: 100%;
  line-height: 10px;
  padding-left: 24px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .items-content .check-items label::before {
  top: -5px;
}
.check-items label::before {
  content: "";
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background-color: #ffffff;
  border: 1px solid #c1c9d4;
  border-radius: 6px;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 0;
  top: -4px;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .avatar {
  margin: 0 10px 0 5px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .w-name {
  width: 100%;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li span {
  font-size: 13px;
  line-height: unset;
  color: #8d3eff;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 16px;
  color: #202633;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .wrap-date p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .wrap-date {
  text-align: right;
  max-width: 85px;
  padding-left: 5px;
}
.settings-v2 .set-user-left .wrap-sidebar-select-user ul li .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 14px;
}
/* end style user setting */

.settings-v2 .w-user-infomations .header {
  margin-bottom: 17px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.settings-v2 .w-user-infomations .header .avatar {
  width: 80px;
    height: 80px;
    margin: 0 12px 0 0;
    border-radius: 32px;
    background: #f9f9f9;
}

.settings-v2 .w-user-infomations .header .avatar img {
  width: 80px;
    height: 80px;
    border-radius: 32px;
}

.settings-v2 .w-user-infomations .header .btn-edit-photo {
  margin: 0 16px 0 0;
}

.settings-v2 .set-user-left {
  width: 320px;
    min-width: 320px;
    height: 100%;
}
.btn-default.has-icon {
  padding: 4px 8px 4px 4px;
}

.settings-v2 .w-user-infomations .header .btn-remove {
  cursor: pointer;
}

.settings-v2 .set-user-wrap {
  max-width: 498px;
    width: 100%;
    margin: 0 auto;
}

.settings-v2 .w-user-infomations {
  padding: 25px 25px 7px 25px;
    border-radius: 3px;
    border: 1px solid #e3e8ee;
    width: 100%;
    margin-bottom: 15px;
}